body { 
  background-color: #FEFEFE; 
  color: #333; 
}

.blog_title {
	background:#333 url("/images/header.png");
	text-align:right;
	height:80px;
	margin-top:-8px;
	margin-left:-8px;
	margin-right:-8px;
	margin-bottom:50px;
}

.back_header{
	text-align:left;
	float:left;
	margin-left:15px;
	margin-top:40px;
}


body, p, ol, ul, td {
	font-family: 'avant garde','century gothic',georgia,sans-serif;
	font-size:   18px;
	line-height: 1.5em;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* POSTS */

.post{
  margin-bottom:100px;
}

.post a.title {
	font-size:1.8em;
	border-bottom:1px dotted silver;
	display:block;
	text-decoration:none;
  padding-left:10px;
}

.post a.title:hover {
	border-bottom:1px solid silver;
	background-color: #fff;
	color:#333;
}

.post span.content {
	margin-top:10px;
}

.post span.content p {	
	margin-left:20px;
}

.post span.content a {
	background-image:url("/images/link.gif");
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:0.5em;
}

.date {
	font-family: georgia, sans-serif;
	float:right;
        color:silver;
}

br.post_separation {
	margin-bottom:20px;
}