<div class="footer">
<div class="twitts">

    <h3> I have said recently... </h3>

    <%= render :partial => 'twit', :collection => @my_twitts %>

</div>

<div class="twitts">

    <h3> People talks to me like that... </h3>

    <%= render :partial => 'twit', :collection => @twitts, :locals => {:from => true} %>

</div>
</div>

