<% unless @no_tweets %>
<div class="footer">
<div class="twitts">

    <h3> I have said recently... </h3>

    <%= render :partial => 'twit', :collection => @my_twitts %>

</div>


<div class="twitts">

    <h3> People talks to me like that... </h3>

    <%= render :partial => 'twit', :collection => @twitts, :locals => {:from => true} %>

    <%# link_to image_tag(graph_url, :size => '300x200'), graph_url %>

</div>
</div>
<% end %>

