<div id="content">
	<% for post in @posts %>
		<%= render :partial => "post", :object => post  %>
	<% end %>
	<%= will_paginate @posts %>
	
	<%= link_to_if_authenticated "New Post", new_post_path %>

</div>
