<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Lucas Andión Montáns</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Lucas Andión personal hand-made blog. This is a work in progress and my sandbox to do some rails testing, so don't expect magistral posts :)" />
    <meta name="keywords" content="Lucas,Andión, Andion, Rails, Ruby, Personal, Blog" />
    <meta name="author" content="Lucas Andión Montáns" />
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/scaffold.css"/>
    <script type="text/javascript" src="javascripts/typeface-0.11.js"></script>
    <script type="text/javascript" src="javascripts/eurostile-roman_regular.typeface.js"></script>
    <script type="text/javascript" src="javascripts/avant_g-medium_regular.typeface.js"></script>
    <script type="text/javascript" src="javascripts/optimer_regular.typeface.js"></script>

  </head>
  <body class="presentation">
    <div class="presentation">
        <h1 class="mynameis">
            <span style="font-size: 70px;">Hi!</span>, I'm
		<a class="linkedin"  href="http://www.linkedin.com/in/andion">Lucas Andión Montáns</a>
	</h1>
        <h2>I'm from <a class="wikipedia" href="http://en.wikipedia.org/wiki/Mora%C3%B1a">here<span style="color:#125F23">&larr;</span></a>, live in <a class="map" href="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=A+coru%C3%B1a&amp;sll=40.396764,-3.713379&amp;sspn=8.413968,15.908203&amp;ie=UTF8&amp;t=h&amp;z=11"><span style="color:#1D659F">&rarr;</span>there</a> and work
        at this <a class="trabe" href="http://www.trabesoluciones.com"> place<span style="color:#A4D521">&crarr;</span></a>.</h2>

        <h2>Not enough? you can read my <a class="blog" href="/blog">blog<span style="color:#E98C08">()</span></a>, check what I'm
        <a class="twitter" href="http://twitter.com/bugyou">doing<span style="color:#33CCFF">&tau;</span></a> or take a look to my
        <a class="flickr" href="http://flickr.com/photos/andion">photos<span style="color:#FF0084">&fnof;</span>.</a></h2>
    </div>

  	<%= yield  %>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-317427-4");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

